.heading {
    text-align: center;
}

.headingsubtext {
    font-style: italic;
    text-align: center;
}

li {
    font-size: 12px;
    padding-bottom: 15px;
}

ul {
    padding-left: 10px;
}

.container {
    position: relative;
}

.contact h4 {
    display: flex;
    margin-bottom: -10px;
    padding-bottom: 10px;
    text-align: left;
}

.light-text {
    color: lightgray;
}

h1 {
    position: relative;
    top: 20px;
    text-align: center;
}

.inputForm {
    font-size: 18px;
    max-width: 450px;
    margin: 50px auto;
    display: block;
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 25px;
}

input[type=submit]#contactSubmit {
    border-radius: 10px;
    padding: 25px 50px 25px 50px;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #AC3B61;
    color: white;
    position: relative;
    width: 70%;
    text-align: center;
}

input[type=submit]#contactSubmit:hover {
    background-color: #902749;
    cursor: pointer;
    color: white;
}

input[type=submit]#contactSubmit:hover:disabled {
    border-radius: 10px;
    padding: 25px 50px 25px 50px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #EEE2DC;
    color: black;
    position: relative;
    width: 70%;
    text-align: center;
    cursor: not-allowed;
}

.contact textarea {
    resize: vertical;
}

.input {
    margin: 10px auto;
    display: block;
    border-radius: 5px;
    line-height: 22px;
    border: 1px solid #ccc;
    /* background-color: transparent; */
    padding: 13px;
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Responsive design */
@media (max-width: 768px) {
    .search input[type="text"] {
        width: 100%;
    }

    .topnav {
        flex-direction: column;
        align-items: flex-start;
    }

    .topnav .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .topnav .icons {
        margin-top: 10px;
        margin-left: auto;
    }

    .plans {
        flex-direction: column;
        align-items: center;
        width: 100%;

        .planItem {
            width: 75%;
        }
    }

    .topnav .nav-links {
        width: 100%;
    }

    .tutorBooking {
        flex-direction: column;
        align-items: center;
        width: 100%;

        .planItem {
            width: 75%;
        }
    }

    @media (max-width: 512px) {
        input[type=button].currentPlan {
            width: 50%;
            background-color: black;
        }
    }
}
