:root {
    font-family: "Sora", sans-serif;
}

body {
    font-family: 'Sora', sans-serif;
    background-color: #EEE2DC;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
}

.content {
    flex: 1;
    padding: 20px;
}

.back-button {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 18px;
    color: #2c3e50;
    text-decoration: none;
    transition: color 0.3s;
}

.back-button:hover {
    color: #AC3B61;
}

.forum-post {
    background-color: #FFFFFF;
    border: 1px solid #AC3B61;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.post-content {
    margin-bottom: 10px;
}

.post-timestamp, .reply-timestamp {
    font-size: 12px;
    color: #888;
    margin-left: 10px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-picture img {
    width: 100%;
    height: auto;
}

.post-info {
    display: flex;
    flex-direction: column;
}

.post-username {
    font-weight: bold;
}

.reply-form {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.reply-form h3 {
    margin: 0 0 10px;
}

.reply-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.reply-form button {
    padding: 10px 20px;
    background-color: #AC3B61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reply-form button:hover {
    background-color: #922c50;
}

.replies-section {
    margin-top: 20px;
}

.reply {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.reply-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.reply-info {
    display: flex;
    flex-direction: column;
}

.reply-username {
    font-weight: bold;
}

.archive-reply-button {
    padding: 10px 15px;
    border: none;
    background-color: #AC3B61;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
    margin-top: 10px;
}

.archive-reply-button:hover {
    background-color: #dd8c6a;
    color: #2c3e50;
}

footer {
    background-color: #EDC7B7;
    padding: 20px;
    text-align: center;
}
