:root {
    font-family: "Sora", sans-serif;
    background-color: #EEE2DC;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* h1, h2, h3, h4, h5, h6 {
    text-align: center;
} */

h1 {
    font-size: 32px;
}

p {
    font-family: "Sora", sans-serif;
    font-size: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px;
    gap: 20px;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 100%;
    height: 50px;
}

.admin-intro {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 30px;
    text-align: justify;
    width: 100%;
}

.admin-intro h1 {
    margin: 0;
    padding-bottom: 10px; 
    width: 100%;
    text-align: center; 
}

.admin-intro p {
    padding: 20px;
    width: 100%; 
}